@import url("https://fonts.cdnfonts.com/css/chicago-2");
/* font-family: 'Chicago', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/sf-pro-display?styles=98770");
/* font-family: 'SF Pro Display', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/final-fantasy");
/* font-family: 'Final Fantasy', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/optimus-princeps?styles=11165");
/* font-family: 'OptimusPrinceps', sans-serif; */
/* font-family: 'OptimusPrincepsSemiBold', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/japestyle");
/* font-family: 'Japestyle', sans-serif; */

@import url("https://fonts.cdnfonts.com/css/digitaldisco");
/* font-family: 'DigitalDisco', sans-serif; */

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2ce026;
}

#app {
  margin: 0 auto;
}

* {
  font-family: "SF Pro Display", sans-serif;
}

.fullscreen_white {
  display: flex;
  /* background-color: #ececec; */
  background-color: #e8e8e8;
  min-height: 100vh;
  color: #cccccc;
}

.fullscreen_black {
  display: flex;
  background-color: #0c0c0c;
  min-height: 100vh;
  color: #cccccc;
}

.unlink {
  text-decoration: none;
  color: #000000;
}

.sedd {
  color: #1fdb06;
}
